<div class="container no-padding">
  <div class="container-flex">
    <div class="col-2 col-flex side-nav">
      <%= link_to renter_dashboard_path, class: "nav-item" do %>
        <i class="fa fa-tachometer"></i>Dashboard
      <% end %>

      <%= link_to renter_monthly_rent_path, class: "nav-item" do %>
        <i class="fa fa-home"></i>Rent
      <% end %>

      <a class="nav-item">
        <i class="fa fa-bolt"></i>Dues
      </a>
    </div>

    <div class="col-10">
      <div class="col-12">
        <h3>Welcome back, <%= current_user.email %>!</h3>
      </div>
      <div class="col-4">
        <% if @payment_record.status == "paid" %>
          <button type="button" class="button-white full-width" disabled>
          <h1><i class="fa fa-rub"></i></h1>
          <h4>Pay for this month's rent</h4>
        <% else %>

          <%= link_to_modal "#payment-modal" do %>
            <button type="button" class="button-white full-width ">
              <h1><i class="fa fa-rub"></i></h1>
              <h4>Pay for this month's rent</h4>
            </button>
          <% end %>
        <% end %>
      </div>
      <div class="col-4">
        <button class="button-white full-width">
          <h1><i class="fa fa-area-chart"></i></h1>
          <h4>View past month's bills</h4>
        </button>
      </div>
      <div class="col-4">
        <button class="button-white full-width">
          <h1><i class="fa fa-phone"></i></h1>
          <h4>Contact Landlord</h4>
        </button>
      </div>
      <div class="clear-20"></div>
      <div class="clear-line"></div>
      <div class="clear-20"></div>
      <h4>
        <%= @user_property.property_type.capitalize %> information for the month of <%= Date.today.strftime("%B") %>
      </h4>
      <div class="clear-20"></div>
      <p>Status: <%= @payment_record.status.capitalize %></p>
      <p>Balance: <%= @payment_record.balance %></p>
      <p>Amount to Pay:</p>
      <ul>
        <li>Rent: PHP<%= @property.rent_price %></li>
        <li>Dues: PHP<%= @property.dues %></li>
      </ul>

      <!-- <%= current_user.user_type %> -->
    </div>
  </div>
</div>

<div class="modal-div" id="payment-modal">
  <div class="full-width">
    <h4>
      <%= @user_property.property_type.capitalize %> information for the month of <%= Date.today.strftime("%B") %>
    </h4>
    <div class="clear-20"></div>
    <p>Status: <%= @payment_record.status.capitalize %></p>
    <p>Balance: <%= @payment_record.balance %></p>
    <p>Amount to Pay:</p>
    <ul>
      <li>Rent: PHP<%= @property.rent_price %></li>
      <li>Dues: PHP<%= @property.dues %></li>
    </ul>

    <div class="clear-20"></div>
    <div class="clear-line"></div>
    <div class="clear-20"></div>

    <h4>Choose payment method:</h4>
    <div class="clear-10"></div>
    <div class="col-6">
      <img class="full-width" src="http://3.bp.blogspot.com/-xAAxlk31GZM/UDwmaQ8dvJI/AAAAAAAAAhQ/_ytGcY2DOy4/s1600/smartmoney1.png">
    </div>
    <div class="col-6">
      <%= link_to new_paypal_path do %>
        <img class="full-width" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/pp-acceptance-large.png" alt="Buy now with PayPal" />
      <% end %>
    </div>
  </div>
</div>
