<!DOCTYPE html>
<html>
<head>
  <title>PropertyPay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <div class="row">
    <div class="col-6">
      <h4 class="font-bold logo">PropertyPay</h4>
    </div>
    <div class="col-6 no-mobile text-right">
      <%= link_to "Owners", owner_path, class: "nav-link small no-border" %>
      <%= link_to "Renter", renter_path, class: "nav-link small no-border" %>
      <%= link_to "Home", root_path, class: "nav-link small no-border" %>
    </div>
  </div>
</nav>
<%= yield %>

</body>
</html>
